header {
    margin: auto;
    padding: 0;
}

nav {
    background: rgba(229, 84, 115, 0.1);
}

button {
    border-radius: 8px;
    background: #e55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav div {
    padding-left: 240px;
    padding-right: 150px;
    padding-top: 48px;
}

.nav-header {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.nav-image {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
}

.paragraph {
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 150px;
}

.sect-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.img-primary {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.img-desc {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.png6 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}

.png5 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}

.png7 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
}

.offer {
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    justify-content: center;
    gap: 200px;
}

.off1 {
    text-align: center;
    padding: 200px 0px 300px 400px;
}

.off2 {
    padding: 100px 400px 100px 0px;
}

.offerd {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.offerp {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.offerb {
    border-radius: 8px;
    background: #E55473;
}

.insta {
    text-align: center;
    padding: 100px 200px 0 200px;
}

.instat {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.instap {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.react {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.dealm {

    padding-top: 72px;


}

.dealp {
    background-image: url("../Flower\ Asset/Rectangle 9.png");
    width: 1440px;
    height: 449px;
    text-align: center;
    margin: auto;
    /* padding: 100px 500px 100px 750px; */
    background-repeat: no-repeat;
    object-fit: cover;
    margin-bottom: 32px;
    
}
#email{
    width: 700px;
    height: 56px;
}

.dealt {
    padding: 100px 500px 250px 500px;
}

#dealt {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

#dealx {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.dealv {
    padding: 10px 10px;
}

footer {
    background-color: #272727;
    /* width: 1922px; */
    height: 449px;
    flex-shrink: 0;
    margin: auto;
    padding: 0%;
}

.foot {
    padding: 100px 100px;
}

.footer-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.ft {
    color: #fff;
}

.footdescription {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.lastdescription {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}